.border-light{
    border:1px solid #e1e6e1
}

.news-links{
    border-bottom: 1px solid #e6e2e2;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.news-links a {
    color: #5b5bab;
    font-size: 13px;
}

.item-content .item-type{
    margin: 0;
}

.custom-items .item-header{
    top: 15px;
}